@font-face {
  font-family: "iconfont"; /* Project id 2902618 */
  src: url('iconfont.woff2?t=1635612914025') format('woff2'),
       url('iconfont.woff?t=1635612914025') format('woff'),
       url('iconfont.ttf?t=1635612914025') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cards:before {
  content: "\e68b";
}

.icon-icons_outlined_cards:before {
  content: "\e647";
}

.icon-icon-cards:before {
  content: "\e608";
}

.icon-kapian:before {
  content: "\e68a";
}

.icon-telegram:before {
  content: "\eaf9";
}

.icon-reddit:before {
  content: "\e7d9";
}

.icon-reddit1:before {
  content: "\e698";
}

.icon-twitter:before {
  content: "\e882";
}

.icon-renjijiaohuD-sanweizuobiao:before {
  content: "\e6e1";
}

.icon-twitter1:before {
  content: "\f24d";
}

.icon-github:before {
  content: "\e645";
}

.icon-reddit2:before {
  content: "\e60e";
}

.icon-medium:before {
  content: "\e6ff";
}

.icon-telegram1:before {
  content: "\e8c7";
}

.icon-zuobiaoxicanshu:before {
  content: "\e64a";
}

.icon-zuobiaoxitong:before {
  content: "\e638";
}

.icon-zuobiaoxi-01:before {
  content: "\e636";
}

.icon-reddit3:before {
  content: "\ecd4";
}

.icon-zuobiaoxiguanli-01-01:before {
  content: "\e679";
}

.icon-zuobiaoxi:before {
  content: "\e686";
}

