.fadeout{
    animation: fadeout 300ms;
}
@keyframes fadeout {
    0% {width:566px ;
    opacity: 1;}
    100% {width: 0px;
    opacity: 0;}
}
.fadein{
    animation: fadein 500ms;
}
@keyframes fadein {
    0% {
        width: 0px;
        opacity: 0;
    }
    100% {
        display: show;
        width:566px ;
        opacity: 1;
    }
}