@import url('./animpage.css');
@import url('./load.css');
.fadeout{
    animation: fadeout 300ms;
}
@keyframes fadeout {
    0% {width:566px ;
    opacity: 1;}
    100% {width: 0px;
    opacity: 0;}
}
.fadein{
    animation: fadein 500ms;
}
@keyframes fadein {
    0% {
        width: 0px;
        opacity: 0;
    }
    100% {
        display: show;
        width:566px ;
        opacity: 1;
    }
}
/* partners */
.anm_bk_show{
    animation: anm 500ms ;
}
@keyframes anm {
    0% {
        background-position-y:-200px;
        opacity: 0;
    }
    80% {
        background-position-y:50%;
        opacity: 1;
    }
    100% {
        background-position-y:50%;
        opacity: 1;
    }
}






























